<html>
    <head>
        <title>CNH OAuth2 Example</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/prism.css"/>
    </head>
    <body>
        <h1>Welcome to the My CNH API Node Example.</h1>

        <div class="layout">
            <div class="grid-item">
                <div class="grid-container">
                    <form action="/" method="post">
                        <div class="grid-item">
                            <label id="scopeLabel" for="scope">Scope:</label><br/>
                            <input placeholder="offline_access"
                                name="scope"
                                id="scope"
                                aria-label="scopeLabel"
                                value="{{scope}}"
                                required>
                        </div>

                        <div class="grid-item">
                            <label id="client_id_label" for="client_id">Client Id:</label><br/>
                            <input name="client_id"
                                id="client_id"
                                placeholder="Enter your client Id"
                                aria-label="client_id_label"
                                value="{{client_id}}"
                                required>
                        </div>

                        <div class="grid-item">
                            <label id="client_secret_label" for="client_secret">Client Secret:</label><br/>
                            <input type="password"
                                name="client_secret"
                                id="client_secret"
                                placeholder="Enter your client secret"
                                aria-label="client_secret_label"
                                value="{{client_secret}}"
                                required>
                        </div>

                        <div class="grid-item">
                            <label id="call_back_label" for="callback_url">Callback URL:</label><br/>
                            <input type="url"
                                name="callback_url"
                                id="callback_url"
                                placeholder="http://localhost:3000"
                                aria-label="call_back_label"
                                value="{{callback_url}}"
                                required>
                        </div>

                        <div class="grid-item">
                            <label id="audienceLabel" for="audience">Audience:</label><br/>
                            <input type="url"
                                name="audience"
                                id="audience"
                                placeholder="https://stg.api.cnhind.com"
                                aria-label="audienceLabel"
                                value="{{audience}}"
                                required>
                        </div>

                        <div class="grid-item">
                            <input type="submit" value="Connect!">
                        </div>

                        <div class="grid-item">

                        </div>

                        <div class="grid-item">

                        </div>
                    </form>
                </div>
            </div>

            {{#access_token}}
            <div class="grid-item">
                <div class="grid-container">
                    <div class="grid-item">
                        Access Token: <br/>

                        {{#access_token}}
                            <p class="token">{{access_token}} <br/> <a onclick="toggleDiv('deets')" href="#">Toggle
                                Details</a>
                            </p>

                            <div id="deets" style="display: none;">
                                <pre><code class="language-json">{{access_tokenDetails}}</code></pre>
                            </div>
                        {{/access_token}}
                    </div>

                    <div class="grid-item">
                        Expiration: <span id="deets">{{expires_in}}</span>
                    </div>

                    <div class="grid-item">
                        Refresh Token:
                        {{#refresh_token}}
                            <span class="token">{{refresh_token}} <br/><a href="/refresh-access-token">Refresh The Access
                                Token</a>
                            </span>
                        {{/refresh_token}}
                    </div>


                </div>
            {{/access_token}}
        </div>
        </div>
        {{#access_token}}
            <div class="grid-container">
                <ul>
                    {{#previous_seaches}}
                        <li>{{.}}</li>
                    {{/previous_seaches}}
                </ul>
                <form method="post" action="/call-api">
                    <div class="grid-item">
                        <label id="urlLabel" for="url"> Simple API Invoke With Token:</label>
                        <input type="url" id="url" name="url" aria-label="urlLabel"
                            value="{{api_url}}/mkt/fmis/companies"/>
                    </div>
                    <div class="grid-item">
                        <input type="submit" value="Go!">
                    </div>
                    {{#apiResponse}}
                        <div class="grid-item">
                        <pre class="token">
                            <code class="language-json">
                                {{apiResponse}}
                            </code>
                        </pre>
                        </div>
                    {{/apiResponse}}
                </form>

            </div>
        {{/access_token}}
        <script type="text/javascript" src="../javascripts/functions.js"></script>
        <script type="text/javascript" src="../javascripts/prism.js"></script>
    </body>
</html>
